@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vw;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.min-h-screen-fit {
  max-height: calc(100vh - 150px);
}

.file-uploader > label {
  width: 100%;
  height: 80px !important;
  max-width: 1000px !important;
  min-width: 100px !important;
  border-color: gray;
}

.file-uploader > label > div > span {
  margin-left: 10px;
}

.file-uploader > label > svg {
  display: none;
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Handle on the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Radius of the scrollbar handle */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle when dragged */
::-webkit-scrollbar-thumb:active {
  background-color: #555;
}
